body {
  background: #fff;
  padding: 0;
  margin: 0;
  position: relative;
  overflow-x: hidden;
}

.owl-carousel {
  display: block;
  width: 100%;
  z-index: 1;
  position: absolute;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
  align-items: center;
  justify-content: center;
}



header {
	position: fixed;
	z-index: 99;
	top: 0;
	background-image: url(/img/back-header.png);
	background-repeat: repeat-x;
	left: 0;
	right: 0;
	color: #fff;
	text-align: center;
	padding: 15px 10px 15px;
	background-position: bottom center;
	min-height: 43px;
}

header img {
  width: 100%;
  max-width: 550px;
  margin: 0 auto;
  height: auto !important;
}

.hero {
  background-image: url(/img/alan-ansiedad.jpg);
  background-repeat: no-repeat;
  background-position: bottom right;
  background-size: 30vw;
  padding: 0 15px;
}



.hero .alan {
  position: absolute;
  bottom: 0;
}

.hero .era {
  position: absolute;
  top: 20vh;
  left: 0;
  right: 0;
}



.hero .era img {
  width: 100%;
  max-width: 520px;
  margin: 0 auto;
  padding-left: 10px;
  height: auto !important;
}


section {
  min-height: 100vh;
  position: relative;
  text-align: center;
}

section:focus {
	outline: 0 none;
}

.open-video {
  font-size: 80px;
  color: #000;
  z-index: 9;
  transition: all 0.4s;
  position: absolute;
  bottom: 40vh;
  left: 0;
  right: 0;
  max-width: 250px;
  margin: 0 auto;
}




.open-video:hover {
  transform: scale(1.1);
  color: #333;
}

.characters {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  position: relative;
  /*height: 80vh;*/
  /*background-image: url(/img/back-characters.jpg);*/
  background-position: bottom center;
  background-size: 100vw;
  background-repeat: no-repeat;
}

.characters .ansiedades {
	
}



.ansiedades {
	display: flex;
	position: absolute;
	bottom: -41px;
	top: initial;
}

.item-ansiedad {
	position: relateive;
	z-index: -1;
}

.item-ansiedad img {
	width: 100% !important;
}
/*
.top-left {
	top: 5vh;
	left: 0;
	transform: rotate(90deg);
}

.top-right {
	top: 5vh;
	right: 0;
	transform: rotate(-90deg);
}

.bottom-left{
	bottom:-11px;
	left: 0
}

.bottom-right{
	bottom:-11px;
	right: 0
}

.bottom-center {
	bottom: -11px;
	left: 0;
	right: 0;	
}
*/


.suscribe {
  display: flex;
  margin-top: 20vh;
  align-items: center;
}



.suscribe iframe {
  margin-right: 15px;
}


.socials {
  margin: 35px 0 70px;
  font-size: 45px;
  position: relative;
  z-index: 9;
}

.socials a i {
  transition: all 0.4s;
}

.socials a {
  margin: 0 10px;
  color: #000;
}

.socials a:hover i {
  transform: scale(1.1);
}

footer {
  background-color: #000;
  position: relative;
  z-index: 999;
  min-height: 100vh;
  background-image: url(/img/back-footer.jpg);
  background-size: 1070px;
  background-repeat: no-repeat;
  background-position: center center;
  text-align: center;
}

footer img {
	position: relative;
	top:calc(50vh - 50px);
}

.fancybox-button {
	background: #fff !important;
	color: #333 !important;
}

.fancybox-bg {
	background: #fff !important;
}

.fancybox-is-open .fancybox-bg {
	opacity: 1 !important;
}

.caption {
  display: none;
}

@media screen and (max-width: 1400px) {	
	.open-video {
	  bottom: 20vh;
	}
}

@media screen and (max-width: 700px) {	
	.open-video {
	  bottom: 30vh;
  	  font-size: 60px;
	}

	.hero {
		
	}
}




@media screen and (max-width: 600px) {
	.open-video {
	  bottom: 40vh;
	}
	.hero {
		/*
		background-image: none;*/
		background-image: url(/img/alan-ansiedad.jpg);
		background-size: 50vw;
		background-position: bottom center;
	}
	.hero .era img {
	  padding: 0;
	  max-width: 78vw;
	}
	.characters {
		height: 100vh;
	}
	.suscribe {
		display: flex;
		flex-direction: column;
		margin-top: 15vh;
		align-items: center;
	}
	.suscribe iframe {
	  margin: 0;
	  margin-bottom: 35px;
	}
	.socials {
		font-size: 30px;
	}
}


@media screen and (max-height: 500px) {	
	.hero {
		background-image: none;
	}

	.open-video {
		bottom: 30vh
	}

	.hero .era {
	    top: 25vh;
	}
}



@media screen and (max-width: 600px) {
  .characters {
    background-size: 300vw;
    -webkit-animation: AnimationName 40s ease infinite;
    -moz-animation: AnimationName 40s ease infinite;
    animation: AnimationName 40s ease infinite;
  }
}
@-webkit-keyframes AnimationName {
  0% {
    background-position: 0% 100%;
  }
  50% {
    background-position: 100% 100%;
  }
  100% {
    background-position: 0% 100%;
  }
}
@-moz-keyframes AnimationName {
  0% {
    background-position: 0% 100%;
  }
  50% {
    background-position: 100% 100%;
  }
  100% {
    background-position: 0% 100%;
  }
}
@keyframes AnimationName {
  0% {
    background-position: 0% 100%;
  }
  50% {
    background-position: 100% 100%;
  }
  100% {
    background-position: 0% 100%;
  }
}
